<style>
    .footer {
        box-sizing: border-box;
        padding: 20px;
        margin-top: 20px;
    }
</style>
<footer class="footer">
    ICP域名备案：<a href="http://beian.miit.gov.cn/" target="_blank">蜀ICP备20012731号</a>
</footer>